<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>

<!--/*@thymesVar id="user" type="my.project.task3.model.User"*/-->
<form th:method="PATCH" method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>

    <label for="surname">Введите фамилию: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <br/>

    <label for="email">Введите email адрес: </label>
    <input type="text" th:field="*{email}" id="email">
    <br/>

    <input type="submit" value="Обновить!">
</form>

</body>
</html>